@keyframes blink-warning {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: orange;
	}
}

@keyframes blink-critical {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: red;
	}
}


/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0px;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: rgba(0,0,0,0.0);
	color: white;
	font-family: JetBrainsMono Nerd Font;
	font-size: 16px;

	background-image: url("noise-texture-simplex-200x200.png");
	background-repeat: repeat;
	background-size: 200px 200px;
}

/* Each module */
#battery,
#clock,
#network,
#pulseaudio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}


/* -----------------------------------------------------------------------------
* Module styles
* -------------------------------------------------------------------------- */

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#clock {
	font-weight: bold;
}

#network {
	/* No styles */
}

#network.disconnected {
	color: orange;
}

#pulseaudio {
	/* No styles */
}

#pulseaudio.muted {
	/* No styles */
}

#tray {
	/* No styles */
}

#window {
	font-weight: bold;
}

#workspaces button {
	border-top: 2px solid transparent;
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	color: #D0D0D0;
}

#workspaces button.focused {
	border-color: #000000;
	color: #000000;
	background-color: #E6E6E6;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}

#taskbar button {
	color: lightgray;
	background-color: black;
}

#taskbar button.active {
	/* border-radius: 6px; */
	background-color: #333333;
	color: white
}

.menu-item {
	padding: 10px;
	font-size: 18px;
}
