
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
	xkb {
	  layout "us"
	  options "caps:escape_shifted_capslock"
	}
	numlock 
  }

  touchpad {
	tap // Enable tap-to-click
	natural-scroll // Enable natural (macOS-style) scrolling
  }

  mouse {
	accel-profile "flat"
  }

  workspace-auto-back-and-forth // Enable workspace back & forth switching
}

// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
  mode "1920x1080@120.030" // Set resolution and refresh rate
  scale 1 // No scaling (use 2 for HiDPI)
}

// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Alt Tab windows 
  Alt+Tab {spawn "~/bin/alt_tab_window_switcher.sh";}

  // Suggested binds for running programs: terminal, app launcher, screen locker.
  Mod+Return hotkey-overlay-title="Open Terminal: foot" { spawn "footclient" "-e" "zsh" "-c" "$(tmux -u attach || tmux -u new -s init)"; }
  Mod+Shift+Return {spawn "footclient";}
  Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
  Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylocker"; }
  MOD+E hotkey-overlay-title="File Manager: Nautilus" { spawn-sh "nautilus"; } 

  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86MonBrightnessUp    allow-when-locked=true { spawn "brightnessctl" "set" "+10%";}
  XF86MonBrightnessDown  allow-when-locked=true { spawn "brightnessctl" "--min-value=94" "set" "10%-";}

  Mod+O repeat=false { toggle-overview; }

  Mod+Q { close-window; }
  Mod+Shift+Q { spawn "~/bin/power_menu.sh"; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-or-workspace-down; }
  Mod+K     { focus-window-or-workspace-up; }
  Mod+L     { focus-column-right; }

  Mod+Alt+J       { move-column-to-workspace-down; }
  Mod+Alt+K       { move-column-to-workspace-up; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down-or-to-workspace-down; }
  Mod+Shift+K     { move-window-up-or-to-workspace-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

  Mod+Shift+Page_Down { move-workspace-down; }
  Mod+Shift+Page_Up   { move-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  // Usually scrolling up and down with Shift in applications results in
  // horizontal scrolling; these binds replicate that.
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  // Alternatively, there are commands to move just a single window:
  // Mod+Ctrl+1 { move-window-to-workspace 1; }

  // Switches focus between the current and the previous workspace.
  Mod+Tab { focus-workspace-previous; }

  // The following binds move the focused window in and out of a column.
  // If the window is alone, they will consume it into the nearby column to the side.
  // If the window is already in a column, they will expel it out.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  Mod+Shift+P { power-off-monitors; }
}
// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-at-startup "swww-daemon" // Overview
spawn-at-startup "swww img /home/jazze/.config/wallpapers/006_overview.png" // Set wallpaper
spawn-at-startup "zen-browser"
spawn-at-startup "zapzap" 
spawn-at-startup "signal-desktop"
spawn-at-startup "keepassxc" 
// spawn-at-startup "steam -cef-disable-gpu"


prefer-no-csd // Disable program decorations
screenshot-path "$HOME/Pictures/Screenshots/%Y%m%d_%H%M%S_Screenshot.png"

// ────────────── Layout Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

layout {
  gaps 12 // Gap between windows
  center-focused-column "never" // Don’t auto-center focused column
  always-center-single-column

  preset-column-widths {
	proportion 0.33333
	proportion 0.5
	proportion 0.66667
  }

  focus-ring {
	width 2
	active-color "#FF0000"
	inactive-color "#505050"
  }

  shadow {
	softness 30
	spread 5
	offset x=0 y=5
	color "#0007"
  }

  struts {}
}

// ────────────── Animation Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  workspace-switch {
	spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  window-open {
	duration-ms 200
	curve "ease-out-quad"
  }
  window-close {
	duration-ms 200
	curve "ease-out-cubic"
  }
  horizontal-view-movement {
	spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
  window-movement {
	spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
  window-resize {
	spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  config-notification-open-close {
	spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
  }
  screenshot-ui-open {
	duration-ms 300
	curve "ease-out-quad"
  }
  overview-open-close {
	spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
}

// ────────────── Window Rules ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

workspace ">_ "
workspace "gen"
workspace "app"
workspace "fun"

window-rule {
  match app-id=r#"zen$"#
  open-on-workspace "gen"
}

window-rule {
  match app-id=r#"^org\.telegram\.desktop$"#
  match app-id="vesktop"
  match app-id=r#"^com\.usebottles\.bottles$"#
  open-on-workspace "app"
}

window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  open-on-workspace "app"
  block-out-from "screen-capture"
}

window-rule {
  match app-id="steam"
  open-on-workspace "fun"
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

environment {
  DISPLAY ":1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  XDG_SESSION_TYPE "wayland"
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
  skip-at-startup
}

layer-rule {
    match namespace="swww-daemon"
    place-within-backdrop true
}

